@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.page-width {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .page-width {
    max-width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.bottom_animation {
  animation: slideInFromBottom 1s ease-in-out;
  animation-delay: var(--delay);
}

.left_animation {
  animation: slideInFromLeft 1s ease-in-out;
  animation-delay: var(--delay);
}

.right_animation {
  animation: slideInFromRight 1s ease-in-out;
  animation-delay: var(--delay);
}